@keyframes animar-div {
    from{
        transform: translateX(calc(90vw));
    }
    to {
        transform: translateX(calc(0vw - 2.3rem));
    }
}

  @keyframes tracking-in-expand-fwd {
  0% {
    letter-spacing: -0.5em;
    transform: translateZ(-700px);
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    transform: translateZ(0);
    opacity: 1;
  }
}

@-webkit-keyframes titleflip {
    0%, 20% {
    transform: translate(0px, -12.50em);
    }
    20%,
    40% {
   transform: translate(0px, -9.375em);
    }
    40%,
    60% {
      -webkit-transform: translate(0px, -6.44em);
    }
    60%,
    80% {
    transform: translate(0px, -3.44em);
    }
    80%,
    100% {
    transform: translate(0px, 0.5em);
    }
    100%,
    0% {
      transform: translate(0px, -14.50em);
    }
  }