body {
    background: rgb(198, 137, 198);
    background: linear-gradient(90deg, rgba(198, 137, 198, 1) 55%, rgba(177, 178, 255, 1) 86%, rgba(171, 217, 255, 1) 100%);
    font-family: 'Source Serif Pro', serif;
    

}

.teste {
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1.2px solid #9C9EFE;
    animation: tracking-in-expand-fwd 1.4s linear both;
}

.img-cabecalho {
    width: 15%;
}

.texto-principais {
    text-align: center;
    font-size: 1.7rem;
}

.container-article {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas: "cartao cartao2 cartao3 cartao4 noticias"
                         "cartao5 cartao6 cartao7 cartao8 noticias";
    row-gap: 1rem; 
    border-bottom: 1.2px solid #9C9EFE;
    padding-bottom: 1rem;                    
}

.cartao-principal,
.cartao-principal-2,
.cartao-principal-3,
.cartao-principal-4,
.cartao-principal-5,
.cartao-principal-6,
.cartao-principal-7,
.cartao-principal-8{
    width: 90%;
    background: linear-gradient(140deg, rgba(198, 137, 198, 1) 24%, rgba(166, 209, 230, 1) 51%, rgba(214, 239, 237, 1) 62%);
    border-radius: 5px;
}

.cartao-principal{
    grid-area: cartao;
}

.cartao-principal-2{
    grid-area: cartao2;
}

.cartao-principal .div-img {
    background-image: url(../img/gato1.jpg);
    background-size:cover;
    background-repeat: no-repeat;
}

.cartao-principal-2 .div-img {
    background-image: url(../img/gato2.jpg);
    background-size:cover;
    background-repeat: no-repeat;
}

.cartao-principal-3 .div-img {
    background-image: url(../img/gato3.png);
    background-size:cover;
    background-repeat: no-repeat;
}

.cartao-principal-4 .div-img {
    background-image: url(../img/gato4.webp);
    background-size:cover;
    background-repeat: no-repeat;
}

.cartao-principal-5 .div-img {
    background-image: url(../img/gato5.jpg);
    background-size:cover;
    background-repeat: no-repeat;
}

.cartao-principal-6 .div-img {
    background-image: url(../img/gato6.jpg);
    background-size:cover;
    background-repeat: no-repeat;
}

.cartao-principal-7 .div-img {
    background-image: url(../img/gato7.jpg);
    background-size:cover;
    background-repeat: no-repeat;
}

.cartao-principal-8 .div-img {
    background-image: url(../img/gato8.jpg);
    background-size:cover;
    background-repeat: no-repeat;
}

.cartao-principal-3{
    grid-area: cartao3;
}

.cartao-principal-4{
    grid-area: cartao4;
}

.cartao-principal-5{
    grid-area: cartao5;
}

.cartao-principal-6{
    grid-area: cartao6;
}

.cartao-principal-7{
    grid-area: cartao7;
}

.cartao-principal-8{
    grid-area: cartao8;
}

.img-border {
    border-bottom: 1.5px solid #9C9EFE;
    display: flex;
    justify-content: center;
    padding: 0.5rem;
}

.div-img {
    border-radius: 50%;
    overflow: hidden;
    width: 100px;
    height: 100px;
    background-color: black;

}

.img-perfil {

    width: 100%;
}

.texto-article {
    margin: 0.5rem;
    padding: 0.25rem;
}
.noticias {
    width: 15rem;
    background: linear-gradient(107deg, rgba(137,198,194,1) 34%, rgba(198,137,198,1) 55%, rgba(205,176,195,1) 67%, rgba(216,239,214,1) 86%, rgba(166,209,230,1) 100%);
    grid-area: noticias;
    position: relative;
    border-radius: 7px ;
}

.noticias::before{
    position: absolute;
    inset: 0;
    background: linear-gradient(to top right, #ffc0d2, #5c0546, #DAEAF1);
    z-index: -1;
    margin: -6px;
    border-radius: 10px;
    content: "";
}

.cartao-noticias {
    border-bottom: 3px solid #B7657B;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.titulo-noticias {
    text-align: center;
}


.img-noticia,
.img-destaque{
    width: 20%;
    margin-left: 0.2rem;
}

.textos-noticia {
    display: flex;
    flex-direction: column;
   margin: 0 0.3rem;
   animation: slide-out-top 3s cubic-bezier(0.550, 0.085, 0.680, 0.530) infinite;
}

.links-noticia {
    display: flex;
    align-items: center;
    margin-bottom: 3rem;
}

.links-noticia:first-child{
    margin-top: 1rem;
}

.link-post {
    text-decoration: none;
    margin-left: 0.7rem;
    color: #233567;
    font-size: 1.2rem;
}

.teste-animacao{
    /* height: 5rem; */
    margin-top: 1rem;
    animation: animar-div 10s linear infinite;
    opacity: 1;
    width: 7rem;
}

.testes {
    animation: color-change-3x 4s linear infinite alternate both;
    border-radius: 7px;
}

.teste-animacao2 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.img-social {
    max-width: 20px;
}

a:not(:first-child){
    margin-left: 1rem;
}

.text-social {
    text-align: center;
    font-weight: 600;
    font-size: 1.2rem;
}

@keyframes animar-div {
    from{
        transform: translateX(calc(90vw));
    }
    to {
        transform: translateX(calc(0vw - 2.3rem));
    }
}

/* @keyframes color-change-3x {
    0% {
      background: rgba(198, 137, 198, 1);
    }
    50% {
      background: rgba(177, 178, 255, 1);
    }
    100% {
      background: rgba(171, 217, 255, 1);
    }
  } */
  @keyframes tracking-in-expand-fwd {
  0% {
    letter-spacing: -0.5em;
    transform: translateZ(-700px);
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    transform: translateZ(0);
    opacity: 1;
  }
}